# Pandas: Location access and slice

The curated COVID-19/Luxembourg covid is at https://github.com/MADS-PY-R-2021/covidsets/blob/main/luxembourg_covid19_covid.csv

##### Create the DataFrame with the code below

In [ ]:
# importing pandas and numpy
import pandas as pd
import numpy as np

# crete a sample covidframe
covid = pd.read_csv("https://raw.githubusercontent.com/MADS-PY-R-2021/datasets/main/luxembourg_covid19_data.csv")

##### View the data using the `head()` function

In [ ]:
covid.head()

##### Rename the index as 'Dated'.
Also drop the currently index.

In [ ]:
covid.set_index('Dated', inplace=True)
covid.drop('Unnamed: 0',axis=1, inplace=True)

In [ ]:
covid

##### Access the row from  26 Sep. 2021.

In [ ]:
covid.loc['2021-09-26']

##### Access the `Normal care` value from that day. 
What it it's type?

##### Find all days with five of more cases in Intensive Care

##### Find all rows with more than 5 cases in intensive care and with one or more deaths

##### Select all days between the the 3rd and the 9th of September 2021

##### Select the columns Normal care and Intensive care on days in September 2020

##### Create a new column labeled "hospital_load" 
Set it to  `True` if `Intensive care` >= 5

##### Select rows that are from each 30 days apart

In [ ]:
# select rows with indices

##### Replace `NaN` values in the care columns with 0.

##### Compute the total number of Hospital discharges

##### Find the day with the highest Number of tests performed.